<html lang="ko" style="overflow: hidden; height: 100%;" class=" js cssanimations csstransforms csstransforms3d csstransitions"><head><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-XN4ELN6VVJ&amp;l=dataLayer&amp;cx=c"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-GXW3FK7DEK&amp;cx=c&amp;_slc=1"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=UA-110087004-1&amp;l=dataLayer&amp;cx=c"></script><script async="" src="https://www.google-analytics.com/analytics.js"></script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale1.0,user-scalable=no">
	<meta name="HandheldFriendly" content="true">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="imagetoolbar" content="no">
	<meta name="naver-site-verification" content="dae72d6ca69390cc8dfc533889c03cc172b57531">
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<!-- 검색로봇 -->
    	<meta name="Location" content="KR">
	<meta name="title" content="Metanet">
	<meta name="subject" content="성공하는 기업을 위한 Digital Business Platform, 메타넷 그룹 홈페이지입니다.">
	<meta name="copyright" content="http://metanetglobal.com">
	<meta name="author" content="">
	<meta name="description" content="성공하는 기업을 위한 Digital Business Platform, 메타넷 그룹 홈페이지입니다.">
	<meta name="distribution" content="Global">
	<meta name="robots" content="index,follow">
	<meta name="keywords" content="Metanet, 메타넷, MetaPay, MetaERP4U, SOLME, RiskCraft, MetaDesk, MetaCI/CD, MetaMarine, MetaGEMS">
	<link rel="canonical" href="http://metanetglobal.com">

	<!-- 페이스북 --> 
	<meta property="og:title" content="Metanet">
	<meta property="og:type" content="https://metanetglobal.com">
	<meta property="og:site_name" content="Metanet">
	<meta property="og:url" content="http://metanetglobal.com">
	<meta property="og:description" content="성공하는 기업을 위한 Digital Business Platform, 메타넷 그룹 홈페이지입니다.">
    <meta property="og:image" content="https://metanetglobal.com/img/no_img.png">

	<!-- 트위터 -->
	<meta name="twitter:title" content="Metanet">
	<meta name="twitter:description" content="성공하는 기업을 위한 Digital Business Platform, 메타넷 그룹 홈페이지입니다.">
	<meta name="twitter:domain" content="http://metanetglobal.com">
	<!-- 사이트 연관 채널 -->
	<script src="https://connect.facebook.net/signals/config/715701217341927?v=2.9.147&amp;r=stable&amp;domain=metanetglobal.com&amp;hme=20c913bdcd4be51a752120153aa5caaecb3ee86c7f26cf737846e40b202aba68&amp;ex_m=62%2C106%2C94%2C98%2C53%2C3%2C88%2C61%2C14%2C86%2C79%2C44%2C46%2C150%2C153%2C164%2C160%2C161%2C163%2C25%2C89%2C45%2C68%2C162%2C145%2C148%2C157%2C158%2C165%2C115%2C13%2C43%2C169%2C168%2C117%2C16%2C29%2C32%2C1%2C36%2C57%2C58%2C59%2C63%2C83%2C15%2C12%2C85%2C82%2C81%2C95%2C97%2C31%2C96%2C26%2C22%2C146%2C149%2C124%2C24%2C9%2C10%2C11%2C5%2C6%2C21%2C19%2C20%2C49%2C54%2C56%2C66%2C90%2C23%2C67%2C8%2C7%2C71%2C41%2C18%2C92%2C91%2C17%2C4%2C73%2C80%2C72%2C78%2C40%2C39%2C77%2C33%2C35%2C76%2C48%2C74%2C28%2C37%2C65%2C0%2C84%2C75%2C2%2C30%2C55%2C34%2C93%2C38%2C70%2C60%2C99%2C52%2C51%2C27%2C87%2C50%2C47%2C42%2C69%2C64%2C100" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script type="application/ld+json">
	{
 	 "@context": "http://schema.org",
	 "@type": "Organization",
	 "name": "Metanet",
	 "url": "http://metanetglobal.com",
	 "sameAs": [
	   "https://blog.naver.com/metanetcompany",
	   "https://www.facebook.com/Metanetinc/",
	   "https://www.youtube.com/channel/UCIr0oyA4UE7yF369Adcq5IA/featured?disable_polymer=1",
	   "https://www.linkedin.com/company/메타넷"
	 ]
	}
	</script>
	<!-- //favicon -->
	
	<title>Metanet</title>

		<link rel="stylesheet" type="text/css" href="/css/base.css?ver=20220624">
	<link rel="stylesheet" type="text/css" href="/css/layout.css?ver=20220107">
	<link rel="stylesheet" type="text/css" href="/css/common.css?ver=20230912">
	<link rel="stylesheet" type="text/css" href="/css/board.css?ver=20240126">
	<!--<link rel="stylesheet" type="text/css" href="/css/mobile.css?ver=20220107">-->
	<link rel="stylesheet" type="text/css" href="/css/popup.css">
	<link rel="stylesheet" href="/css/newCont.css?ver=20240125">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<link href="/css/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/swiper.min.css">


		<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-110087004-1');
	</script>
	<!--[if lte IE 8]>
	<script src="https://metanetglobal.com:443/js/html5.js"></script>
	<![endif]-->
	<script>
	var g5_url       = "https://metanetglobal.com:443";
	var g5_bbs_url   = "https://metanetglobal.com:443/bbs";
	var g5_is_member = "";
	var g5_is_admin  = "";
	var g5_is_mobile = "";
	var g5_bo_table  = "";
	var g5_sca       = "";
	var g5_editor    = "";
	var g5_cookie_domain = "";
		</script>

	<script src="https://metanetglobal.com:443/js/jquery-1.8.3.min.js"></script>
	<script src="https://metanetglobal.com:443/js/jquery.menu.js?ver=?ver=20190923"></script>
	<script src="https://metanetglobal.com:443/js/common.js?ver=161020"></script>
	<script src="https://metanetglobal.com:443/js/wrest.js?ver=161020"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/swiper.min.js"></script>
	<script src="/js/jquery.fullPage.min.js"></script>

	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/modernizr.custom.min.js"></script>
	<script src="/js/metanet_mobile.js"></script>
	
	<!-- Meta Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '715701217341927');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=715701217341927&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Meta Pixel Code -->

<script src="/js/jquery.slimscroll.min.js"></script><script src="/js/jquery.slimscroll.min.js"></script></head>

<body class="main fp-viewing-0" data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0" style="overflow: hidden; height: 100%;">
<div id="wrapper">
	<!-- sec-header -->
	<section class="sec-header hd-re">
		<a href="/" class="logo"><span class="blind">Metanet</span></a>
		<ul class="nav">
			<li><a>Metanet Company</a>
				<ul class="depth-1">
					<li>
						<p>Consulting &amp; Managed</p>
						<a href="/ko/company/metanetglobal">메타넷글로벌</a>
						<a href="/ko/company/atnsgroup">에이티앤에스그룹</a>
					</li>
					<li>
						<p>Application Modernization</p>
						<a href="/ko/company/metanetdigital">메타넷디지털</a>
					</li>
					<li>
						<p>Infra Modernization</p>
						<a href="/ko/company/metanettplatform">메타넷티플랫폼</a>
						<a href="/ko/company/rockplace">락플레이스</a>
						<a href="/ko/company/gtplus">지티플러스</a>
						<a href="/ko/company/utimost">유티모스트INS</a>
					</li>
					<li>
						<p>Solution &amp; Service</p>
						<a href="/ko/company/metanetsaas">메타넷사스</a>
						<a href="/ko/company/metanetdl">메타넷디엘</a>
						<a href="/ko/company/metanetfintech">메타넷핀테크</a>
					</li>
					<li>
						<p>Learning Platform</p>
						<a href="/ko/company/igm">IGM 세계경영연구원</a>
						<a href="/ko/company/elics">엘릭스</a>
					</li>
				</ul>
			</li>
			<li><a>Service</a>
				<ul class="depth-1">
					<li>
						<p>Envision</p>
						<a href="/ko/services/assess.php">Assess &amp; Design</a>
					</li>
					<li>
						<p>Transform</p>
						<a href="/ko/services/application.php">Application &amp; Modernization</a>
						<a href="/ko/services/migration.php">Migration &amp; Transform</a>
						<a href="/ko/services/source.php">Source &amp; Configure</a>
						<a href="/ko/services/infra.php">Cloud Platforms</a>
					</li>
					<li>
						<p>Evolve</p>
						<a href="/ko/services/manage.php">Manage &amp; Optimize</a>
						<a href="/ko/services/cloud.php">Cloud Brokerage Platform</a>
					</li>
				</ul>
			</li>
			<li><a>Product &amp; Platform</a>
				<ul class="depth-2">
					<li>
						<p><a href="/ko/platform/metapay.php">MetaPay<small>급여솔루션</small></a></p>
					</li>
					<li>
						<p><a href="/ko/platform/erp.php">MetaERP4U<small>대학종합행정솔루션</small></a></p>
					</li>
                    <li>
						<p><a href="/ko/platform/solme.php">SOLME<small>문서중앙화솔루션</small></a></p>
					</li>
					<li>
						<p><a href="/ko/platform/risk.php">RiskCraft<small>금융리스크관리솔루션</small></a></p>
					</li>
					<li>
						<p><a href="/ko/platform/desk.php">MetaDesk<small>서비스데스크솔루션</small></a></p>
					</li>
					<li>
						<p><a href="/ko/platform/cicd.php">MetaCICD<small>데브옵스 서비스 솔루션</small></a></p>
					</li>
					<li>
						<p><a href="/ko/platform/marine.php">MetaMarine<small>조선해양ERP솔루션</small></a></p>
					</li>
					<li>
						<p><a href="/ko/platform/gems.php">MetaGEMS<small>에너지관리솔루션</small></a></p>
					</li>
				</ul>
			</li>
			<li>
				<a>Blog</a>
				<ul class="depth-3">
					<li>
						<p><a href="/bbs/board.php?bo_table=newsroom_ko">Newsroom<small>최신소식</small></a></p>
					</li>
					<li>
						<p><a href="/bbs/board.php?bo_table=tech">Tech<small>테크블로그</small></a></p>
					</li>
					<li>
						<p><a href="/bbs/board.php?bo_table=client">Client<small>고객성공사례</small></a></p>
					</li>
					<li>
						<p><a href="/bbs/board.php?bo_table=people">People<small>기업문화</small></a></p>
					</li>
				</ul>
			</li>
			<li>
				<a href="https://fa-eozb-saasfaprod1.fa.ocs.oraclecloud.com/hcmUI/CandidateExperience/ko/sites/CX_5001" target="_blank">Careers</a>
			</li>
			<li><a>About us</a>
				<ul class="depth-3">
					<li>
						<p><a href="/ko/about/who.php">Who we are</a></p>
					</li>
					<li>
						<p><a href="/ko/about/leadership.php">Leadership</a></p>
					</li>
					<li>
						<p><a href="/ko/about/partners.php">Strategic Partners</a></p>
					</li>
					<li>
						<p><a href="/ko/about/locations.php">Contact Us</a></p>
					</li>
				</ul>
			</li>
		</ul><!--nav-->
		<div class="btn-search">
			<a href="javascript:void(0);"><span class="sound_only">검색창 열기</span></a>
		</div>
		<div class="search_box">
			<div class="wr">
				<form id="searchForm1" name="searchForm1" method="get" action="/ko/search/search.php" novalidate="">
					<fieldset>
						<legend class="sound_only">검색</legend>
						<div class="sch_box">
							<label class="sound_only" for="total_keyword">검색</label>
							<div class="sch_wr">
								<input type="text" class="input" id="total_keyword" name="query" title="검색어를 입력하세요" placeholder="검색어를 입력하세요" autocomplete="off" data-lang="kr">
								<input id="lang" name="lang" value="ko" type="hidden">
								<button type="submit" class="btn sch"><span class="sound_only">검색</span></button>
							</div>
						</div>
					</fieldset>
				</form>
				<a href="javascript:void(0);" class="btn-close"><span class="sound_only">검색창 닫기</span></a>
			</div>
		</div>
		<div class="lang">
            <a class="active" href="/">KR</a>
            <a href="/en">EN</a>
		</div>
		<div class="btn-category">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</section>
	<!-- sec-header -->
	<div id="sitemap">
		<ul>
			<li><a>Metanet Company</a>
				<ul class="depth-1">
					<li>
						<p>Consulting &amp; Managed</p>
						<a href="/ko/company/metanetglobal">메타넷글로벌</a>
						<a href="/ko/company/atnsgroup">에이티앤에스그룹</a>
					</li>
					<li>
						<p>Application Modernization</p>
						<a href="/ko/company/metanetdigital">메타넷디지털</a>
					</li>
					<li>
						<p>Infra Modernization</p>
						<a href="/ko/company/metanettplatform">메타넷티플랫폼</a>
						<a href="/ko/company/rockplace">락플레이스</a>
						<a href="/ko/company/gtplus">지티플러스</a>
						<a href="/ko/company/utimost">유티모스트INS</a>
					</li>
					<li>
						<p>Solution &amp; Service</p>
						<a href="/ko/company/metanetsaas">메타넷사스</a>
						<a href="/ko/company/metanetdl">메타넷디엘</a>
						<a href="/ko/company/metanetfintech">메타넷핀테크</a>
					</li>
					<li>
						<p>Learning Platform</p>
						<a href="/ko/company/igm">IGM 세계경영연구원</a>
						<a href="/ko/company/elics">엘릭스</a>
					</li>
				</ul>
			</li>
			<li><a>Service</a>
				<ul class="depth-1">
					<li>
						<p>Envision</p>
						<a href="/ko/services/assess.php">Assess &amp; Design</a>
					</li>
					<li>
						<p>Transform</p>
						<a href="/ko/services/application.php">Application &amp; Modernization</a>
						<a href="/ko/services/migration.php">Migration &amp; Transform</a>
						<a href="/ko/services/source.php">Source &amp; Configure</a>
						<a href="/ko/services/infra.php">Cloud Platforms</a>
					</li>
					<li>
						<p>Evolve</p>
						<a href="/ko/services/manage.php">Manage &amp; Optimize</a>
						<a href="/ko/services/cloud.php">Cloud Brokerage Platform</a>
					</li>
				</ul>
			</li>
			<li><a>Product &amp; Platform</a>
				<ul class="depth-2">
					<li>
						<p><a href="/ko/platform/metapay.php">MetaPay<small>급여솔루션</small></a></p>
					</li>
					<li>
						<p><a href="/ko/platform/erp.php">MetaERP4U<small>대학종합행정솔루션</small></a></p>
					</li>
                    <li>
						<p><a href="/ko/platform/solme.php">SOLME<small>문서중앙화솔루션</small></a></p>
					</li>
					<li>
						<p><a href="/ko/platform/risk.php">RiskCraft<small>금융리스크관리솔루션</small></a></p>
					</li>
					<li>
						<p><a href="/ko/platform/desk.php">MetaDesk<small>서비스데스크솔루션</small></a></p>
					</li>
					<li>
						<p><a href="/ko/platform/cicd.php">MetaCICD<small>데브옵스 서비스 솔루션</small></a></p>
					</li>
					<li>
						<p><a href="/ko/platform/marine.php">MetaMarine<small>조선해양ERP솔루션</small></a></p>
					</li>
					<li>
						<p><a href="/ko/platform/gems.php">MetaGEMS<small>에너지관리솔루션</small></a></p>
					</li>
				</ul>
			</li>
			<li>
				<a>Blog</a>
				<ul class="depth-3">
					<li>
						<p><a href="/bbs/board.php?bo_table=newsroom_ko">Newsroom<small>최신소식</small></a></p>
					</li>
					<li>
						<p><a href="/bbs/board.php?bo_table=tech">Tech<small>테크블로그</small></a></p>
					</li>
					<li>
						<p><a href="/bbs/board.php?bo_table=client">Client<small>고객성공사례</small></a></p>
					</li>
					<li>
						<p><a href="/bbs/board.php?bo_table=people">People<small>기업문화</small></a></p>
					</li>
				</ul>
			</li>
			<li>
				<a href="https://fa-eozb-saasfaprod1.fa.ocs.oraclecloud.com/hcmUI/CandidateExperience/ko/sites/CX_5001" target="_blank">Careers</a>
			</li>
			<li><a>About us</a>
				<ul class="depth-3">
					<li>
						<p><a href="/ko/about/who.php">Who we are</a></p>
					</li>
					<li>
						<p><a href="/ko/about/leadership.php">Leadership</a></p>
					</li>
					<li>
						<p><a href="/ko/about/partners.php">Strategic Partners</a></p>
					</li>
					<li>
						<p><a href="/ko/about/locations.php">Contact Us</a></p>
					</li>
				</ul>
			</li>
		</ul><!--nav-->
	</div><!-- sitemap -->
	<div id="wrap">
<script>

$(document).ready(function(){
	header();
	search();
	sitemap();
});
function header(){
	$('.nav > li').mouseover(function(){
		$(this).addClass('open');
		var blind_height =  $('.open > ul').height();
		$('.sec-header').css("height",blind_height + 100 +"px");
		$('.sec-header').addClass('active');
		$('.search_box').hide();
	});
	$('.nav > li').mouseleave(function(){
		$(this).removeClass('open');
		$('.sec-header').css("height","100px");
		$('.sec-header').removeClass('active');
	});
	$('.sec-header').mouseover(function(){
		$(this).addClass('on');
	});
	$('.sec-header').mouseleave(function(){
		if(!$(document).scrollTop() > 0){
			$(this).removeClass('on');
		}
	});
	$(window).scroll(function(){
		var height = $(document).scrollTop();
		if(height > 0){
		  $('.sec-header').addClass('on');
		}else if(height == 0){
		  $('.sec-header').removeClass('on');
		}
	});

	$(".goTop a").click(function() {
		$('body, html').animate({scrollTop:0}, '500');
		//alert(1);
	});

}
function sitemap(){
	$('.btn-category').click(function(){
		$(this).toggleClass('map');
		$('#sitemap').toggleClass('open');
		$('.sec-header').toggleClass('stm-hd');
		$('html,body').toggleClass('scr');
		$('.search_box').hide();
	});
	$('#sitemap > ul > li p').click(function(){
		$('#sitemap > ul > li > ul > li').removeClass('m-open');
		$(this).parent().addClass('m-open');
	});
}
function search(){
	$('.btn-search').click(function(){
		$('.search_box').show();
		$('.sec-header').addClass('on');
		$('.sec-header').mouseleave(function () {
			$(this).addClass('on');
		});
	})
	$('.btn-close').click(function(){
		$('.search_box').hide();
		$('.sec-header').removeClass('on');
	})
}




$(window).load(function(){
  $(".fp-list").mCustomScrollbar({
    axis:"x",
    // theme:"dark-thick",
    advanced:{autoExpandHorizontalScroll:true},
    updateOnContentResize:true,
    scrollbarPosition: 'outside',
    scrollInertia:0
  });
});
</script>
<script src="/js/jquery.mCustomScrollbar.min.js"></script>
<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">

<style>
    /* 팝업레이어 */
    #hd_pop {z-index:1000;position:fixed;margin:0 auto; width:100%; max-width:970px;  }
    #hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
    .hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff; top:100px; left:80px; width:600px}
    .hd_pops_con {position:relative;}
    .hd_pops_footer {padding:10px 0;background:#0c4da2;color:#fff;text-align:right; overflow:hidden;}
    .hd_pops_footer button {margin-right:5px;padding:2px 10px;border:0;background:#0c4da2; font-size:12px;color:#fff; float:left;}
    .hd_pops_footer button:last-child{float:right;}
	#hd_pop img{max-width:100%; vertical-align:top;} 
    .pop_closeBtn{position:absolute; top:10px; right:10px; width:auto; cursor:pointer;}
	@media screen and (max-width:1024px){ 
		#hd_pop{max-width:500px; width:100%;}
		.hd_pops{width:90%; left:5%; top:80px;}
	}
</style>
<!-- 팝업레이어 시작 { -->
<div id="hd_pop" style="display: none;">
    <h2>팝업레이어 알림</h2>
 
        <div id="hd_pops_" class="hd_pops">
            <div class="hd_pops_con">
                <img src="/popup/images/230330.jpg" alt="">  
                <img src="/popup/images/closeBtn.jpg" alt="" class="pop_closeBtn">
            </div>
            <div class="hd_pops_footer"> 
                <button class="hd_pops_close hd_pops_today_close">오늘하루 보지 않기</button>
            </div>
        </div> 
</div>

<script>
   $(function() {
		$(".pop_closeBtn").click(function() {
			 $("#hd_pop").hide();
        });
    });


    $(".hd_pops_today_close").click(function () {
        setCookie( "todayCookie", "done" , 1);
        $("#hd_pop").hide();
    });

    // 쿠키 입력
 
    function setCookie ( name, value, expiredays ) {
        var today = new Date();
        today.setDate( today.getDate() + expiredays );
        document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + today.toGMTString() + ";"
        }
    function getCookie () {
        var cookiedata = document.cookie;
        if ( cookiedata.indexOf("todayCookie=done") == -1 ){
            $("#hd_pop").show();
        }
        else {
            $("#hd_pop").hide();
        }
    } 
	function popDate(){ 
		var sdate= new Date("2023/02/28 07:00:00");
		var edate= new Date("2023/03/31 24:00:00");

		if(Date.now() >= sdate && Date.now() <= edate){
			$("#hd_pop").show();
		} else {
			$("#hd_pop").hide();
		}
	} 
    getCookie();
	popDate(); 

</script>
<!-- } 팝업레이어 끝 --><meta charset="utf-8">
<link rel="stylesheet" href="/css/main.css?ver=1">
<script src="/js/main.js"></script>

<div id="fullpage" class="fullpage-wrapper" style="height: 100%; position: relative; touch-action: none; top: 0px;">
	<div class="section visual-section fp-section fp-table active" style="height: 919px;"><div class="fp-tableCell" style="height:919px;"><div class="fp-tableCell" style="height:919px;">
		<div class="swiper-container swiper-container-horizontal">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;/img/main/main_visual_0101.jpg&quot;); width: 1240px;">
					<div class="wr">
						<div class="description">Smart Pivot to Cloud Native</div>
						<div class="sec-tit">
							<h2>디지털 혁신을 위한 클라우드 여정 <br>
							전략부터 디지털기술, 운영까지 <br>
							오직 메타넷에서
							</h2>
							<a href="/ko/about/who.php">자세히 보기</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="control">
			<div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
			<div class="swiper-button-prev swiper-button-disabled"></div>
			<div class="swiper-button-next swiper-button-disabled"></div>
		</div>
	</div></div></div>
	<div class="section services-section fp-section fp-table" style="height: 919px;"><div class="fp-tableCell" style="height:919px;"><div class="fp-tableCell" style="height:919px;"><div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 919px;"><div class="fp-scrollable" style="overflow: hidden; width: auto; height: 919px;">
		<div class="scroll-section wr">
			<div class="sec-tit">
				<h3>Our Services</h3>
				<p>클라우드를 기반으로 <br>
				성공적인 디지털 전환을 위한 <br>
				End-to-End 서비스를 제공합니다.</p>
			</div>
			<div class="sec-cards">
				<ul>
					<li>
						<a href="/ko/services/assess.php">
							<strong>Envision</strong>
							<h3>컨설팅 &amp; 전략</h3>
							<p>현황 진단 및 전략 수립을 통한 <br>성공적 클라우드 여정 로드맵 설계</p>
							<span class="arrow"></span>
						</a>
					</li>
					<li>
						<a href="/ko/services/migration.php">
							<strong>Transform</strong>
							<h3>마이그레이션 &amp; 전환</h3>
							<p>신속하고 안정적인 클라우드 전환을  <br>통한 기업 비즈니스 혁신</p>
							<span class="arrow"></span>
						</a>
					</li>
					<li>
						<a href="/ko/services/infra.php">
							<strong>Transform</strong>
							<h3>인프라 서비스</h3>
							<p>온프레미스부터 클라우드까지,  <br>고객 비즈니스에 최적화된 인프라 구축</p>
							<span class="arrow"></span>
						</a>
					</li>
					<li>
						<a href="/ko/services/cloud.php">
							<strong>Evolve</strong>
							<h3>클라우드 중개</h3>
							<p>메타넷 Professional Service로
							파트너사의 New Business 및
							확장 기회 제공
							</p>
							<span class="arrow"></span>
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="/ko/services/application.php">
							<strong>Transform</strong>
							<h3>애플리케이션 현대화</h3>
							<p>클라우드 플랫폼에 적합한 <br>애플리케이션 개발 및 구축</p>
							<span class="arrow"></span>
						</a>
					</li>
					<li>
						<a href="/ko/services/source.php">
							<strong>Transform</strong>
							<h3>클라우드 기반 <br>업무 효율화 솔루션 </h3>
							<p>클라우드에 최적화된 업무 프로세스 설계 및 솔루션 발굴</p>
							<span class="arrow"></span>
						</a>
					</li>
					<li>
						<a href="/ko/services/manage.php">
							<strong>Evolve</strong>
							<h3>IT 운영 서비스</h3>
							<p>클라우드, 데이터, AI를 활용한  <br>스마트하고 효율적인 IT 운영 및 기술 지원</p>
							<span class="arrow"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 10px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 430.021px;"></div><div class="slimScrollRail" style="width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div></div></div></div>
	<div class="section product-section fp-section fp-table" style="height: 919px;"><div class="fp-tableCell" style="height:919px;"><div class="fp-tableCell" style="height:919px;"><div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 919px;"><div class="fp-scrollable" style="overflow: hidden; width: auto; height: 919px;">
		<div class="scroll-section wr">
			<div class="sec-tit">
				<h3>Product <br>&amp; Platform</h3>
				<p>각 산업 분야에 최적화된 <br>전문 버티컬 솔루션을 제공합니다.</p>
			</div>
			<div class="sec-cards">
				<ul>
					<li>
						<a href="/ko/platform/metapay.php">
							<img src="/img/main/main_symbol_metapay.png" alt="">
							<h3>MetaPay</h3>
							<p>급여 처리 부담을 더는 <br>SaaS 급여솔루션</p>
							<span class="arrow"></span>
						</a>
					</li>
					<li>
						<a href="/ko/platform/solme.php">
							<img src="/img/main/main_symbol_solme.png" alt="">
							<h3>SOLME</h3>
							<p>최적의 정보 자산 활용을 보장하는<br>3세대 ECM 솔루션</p>
							<span class="arrow"></span>
						</a>
					</li>
					<li>
						<a href="/ko/platform/desk.php">
							<img src="/img/main/main_symbol_metadesk.png" alt="">
							<h3>MetaDesk</h3>
							<p>신속한 IT서비스, 장애 요청 <br>서비스 데스크 솔루션</p>
							<span class="arrow"></span>
						</a>
					</li>
					<li>
						<a href="/ko/platform/marine.php">
							<img src="/img/main/main_symbol_marine.png" alt="">
							<h3>MetaMarine</h3>
							<p>국내 선두 조선사가 선택한 <br>조선해양 ERP 솔루션</p>
							<span class="arrow"></span>
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="/ko/platform/erp.php">
							<img src="/img/main/main_symbol_metaerp.png" alt="">
							<h3>MetaERP4U</h3>
							<p>미래 교육을 위한 <br>대학종합행정 솔루션</p>
							<span class="arrow"></span>
						</a>
					</li>
					<li>
						<a href="/ko/platform/risk.php">
							<img src="/img/main/main_symbol_riskcraft.png" alt="">
							<h3>RiskCraft</h3>
							<p>시장 점유율1위 <br>금융 리스크 관리 솔루션</p>
							<span class="arrow"></span>
						</a>
					</li>
					<li>
						<a href="/ko/platform/cicd.php">
							<img src="/img/main/main_symbol_metacicd.png" alt="">
							<h3>MetaCI/CD</h3>
							<p>최적의 클라우드 네이티브 애플리케이션 서비스 위한 지속적 통합/배포 솔루션</p>
							<span class="arrow"></span>
						</a>
					</li>
					<li>
						<a href="/ko/platform/gems.php">
							<img src="/img/main/main_symbol_gems.png" alt="">
							<h3>MetaGEMS</h3>
							<p>온실가스 에너지 목표관리 최적화 <br>에너지 관리 솔루션</p>
							<span class="arrow"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 10px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 407.607px;"></div><div class="slimScrollRail" style="width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div></div></div></div>
	<div class="section news-section fp-section fp-table" style="height: 919px;"><div class="fp-tableCell" style="height:919px;"><div class="fp-tableCell" style="height:919px;"><div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 919px;"><div class="fp-scrollable" style="overflow: hidden; width: auto; height: 919px;">
		<div class="main-news">
			<div class="wr">
				<div class="relatedBlog">
					<h3><a href="/ko/search/search.php">Blog</a></h3>
                    <div class="boardBlog">
                        <ul>
                                                            <li>
                                    <div class="thumb">
                                        <a href="/bbs/board.php?bo_table=tech&amp;wr_id=44"><img src="/ckeditor/uploads/24%E1%84%82%E1%85%A7%E1%86%AB-2%E1%84%8B%E1%85%AF%E1%86%AF2%E1%84%8C%E1%85%AE%E1%84%8E%E1%85%A1_Tech_blog%281%29.jpg" alt="/"></a>
                                    </div>
                                    <div class="sbj">
                                        <a href="/bbs/board.php?bo_table=tech&amp;wr_id=44">효과적인 CI/CD를 위한 오픈소스, 텍톤 &amp; 아르고CD</a>
                                    </div>
                                    <div class="hashtag">
                                                                                    <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=37">#하이브리드클라우드</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=35">#클라우드전환</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=27">#솔루션</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=41">#메타넷티플랫폼</a>
                                                                                </div>
                                </li>
                                                                <li>
                                    <div class="thumb">
                                        <a href="/bbs/board.php?bo_table=tech&amp;wr_id=43"><img src="/ckeditor/uploads/24%E1%84%82%E1%85%A7%E1%86%AB-2%E1%84%8B%E1%85%AF%E1%86%AF1%E1%84%8C%E1%85%AE%E1%84%8E%E1%85%A1_Tech_blog%280%29.jpg" alt="/"></a>
                                    </div>
                                    <div class="sbj">
                                        <a href="/bbs/board.php?bo_table=tech&amp;wr_id=43">현업이 직접 하는 데이터 시각화! 비즈니스 인텔리전스 솔루션 ‘Qlik Sense’</a>
                                    </div>
                                    <div class="hashtag">
                                                                                    <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=26">#빅데이터</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=27">#솔루션</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=48">#지티플러스</a>
                                                                                </div>
                                </li>
                                                                <li>
                                    <div class="thumb">
                                        <a href="/bbs/board.php?bo_table=tech&amp;wr_id=42"><img src="/ckeditor/uploads/metanet_blog_2024-01.jpg" alt="/"></a>
                                    </div>
                                    <div class="sbj">
                                        <a href="/bbs/board.php?bo_table=tech&amp;wr_id=42">1월의 IT Trend: 금융권 IT 혁신 - AI / RPA로 업무성과 UP!</a>
                                    </div>
                                    <div class="hashtag">
                                                                                    <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=19">#RPA</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=1">#AI</a>
                                                                                </div>
                                </li>
                                                                <li>
                                    <div class="thumb">
                                        <a href="/bbs/board.php?bo_table=tech&amp;wr_id=41"><img src="/ckeditor/uploads/24%E1%84%82%E1%85%A7%E1%86%AB-1%E1%84%8B%E1%85%AF%E1%86%AF4%E1%84%8C%E1%85%AE%E1%84%8E%E1%85%A1_Tech_blog%282%29.jpg" alt="/"></a>
                                    </div>
                                    <div class="sbj">
                                        <a href="/bbs/board.php?bo_table=tech&amp;wr_id=41">경기 침체에 대응하는 기업 IT 비용 절감 방안 ② 성공적인 IT 비용 최적화를 위해 고려해야 할 사항</a>
                                    </div>
                                    <div class="hashtag">
                                                                                    <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=32">#컨설팅</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=39">#메타넷글로벌</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=7">#FinOps</a>
                                                                                </div>
                                </li>
                                                                <li>
                                    <div class="thumb">
                                        <a href="/bbs/board.php?bo_table=tech&amp;wr_id=40"><img src="/ckeditor/uploads/24%E1%84%82%E1%85%A7%E1%86%AB-1%E1%84%8B%E1%85%AF%E1%86%AF4%E1%84%8C%E1%85%AE%E1%84%8E%E1%85%A1_Tech_blog%281%29.jpg" alt="/"></a>
                                    </div>
                                    <div class="sbj">
                                        <a href="/bbs/board.php?bo_table=tech&amp;wr_id=40">경기 침체에 대응하는 기업 IT&nbsp;비용 절감 방안 ① 기업의 IT 비용 효율화,&nbsp;왜 필요한가?</a>
                                    </div>
                                    <div class="hashtag">
                                                                                    <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=32">#컨설팅</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=39">#메타넷글로벌</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=11">#ITO</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=7">#FinOps</a>
                                                                                </div>
                                </li>
                                                                <li>
                                    <div class="thumb">
                                        <a href="/bbs/board.php?bo_table=tech&amp;wr_id=39"><img src="/ckeditor/uploads/24%E1%84%82%E1%85%A7%E1%86%AB-1%E1%84%8B%E1%85%AF%E1%86%AF3%E1%84%8C%E1%85%AE%E1%84%8E%E1%85%A1_Tech_blog.jpg" alt="/"></a>
                                    </div>
                                    <div class="sbj">
                                        <a href="/bbs/board.php?bo_table=tech&amp;wr_id=39">공공 IT시스템 개선을 위한 혁신안, 클라우드 네이티브 전환</a>
                                    </div>
                                    <div class="hashtag">
                                                                                    <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=35">#클라우드전환</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=40">#메타넷디지털</a>
                                                                                        <a href="/ko/search/search_tag.php?type=B&amp;tagNoList=12">#MetaCICD</a>
                                                                                </div>
                                </li>
                                                        </ul>
                    </div>
				</div>
				<div class="relatedBlog">
					<h3><a href="/bbs/board.php?bo_table=newsroom_ko">Newsroom</a></h3>
                    <div class="boardBlog">
                        <ul>
                                                            <li>
                                    <div class="thumb">
                                        <a href="/bbs/board.php?bo_table=newsroom_ko&amp;wr_id=137"><img src="/ckeditor/uploads/%5B%EC%82%AC%EC%A7%84%EC%9E%90%EB%A3%8C%5D%20%EB%A9%94%ED%83%80%EB%84%B7%ED%8B%B0%ED%94%8C%EB%9E%AB%ED%8F%BC%2C%20%EB%B3%B4%EC%95%88%EA%B4%80%EC%A0%9C%20%EC%A0%84%EB%AC%B8%EA%B8%B0%EC%97%85%20%EC%8B%A0%EA%B7%9C%20%EC%A7%80%EC%A0%95.jpg" alt="/"></a>
                                    </div>
                                    <div class="sbj">
                                        <a href="/bbs/board.php?bo_table=newsroom_ko&amp;wr_id=137">메타넷티플랫폼, 보안관제 전문기업 신규 지정</a>
                                    </div>
                                    <div class="hashtag">
                                                                                    <a href="/ko/search/search_tag.php?type=&amp;tagNoList=41">#메타넷티플랫폼</a>
                                                                                </div>
                                </li>
                                                                <li>
                                    <div class="thumb">
                                        <a href="/bbs/board.php?bo_table=newsroom_ko&amp;wr_id=136"><img src="/ckeditor/uploads/%5B%EC%82%AC%EC%A7%84%EC%9E%90%EB%A3%8C%5D%20ATNS%EA%B7%B8%EB%A3%B9%2C%20SAP%20%EB%B3%80%EA%B2%BD%20%EA%B4%80%EB%A6%AC%20%ED%94%84%EB%A1%9C%EC%84%B8%EC%8A%A4%2095%25%20%EC%9D%B4%EC%83%81%20%EC%9E%90%EB%8F%99%ED%99%94%ED%95%9C%EB%8B%A4.jpg" alt="/"></a>
                                    </div>
                                    <div class="sbj">
                                        <a href="/bbs/board.php?bo_table=newsroom_ko&amp;wr_id=136">ATNS그룹, SAP 변경 관리 프로세스 95% 이상 자동화한다</a>
                                    </div>
                                    <div class="hashtag">
                                                                                    <a href="/ko/search/search_tag.php?type=&amp;tagNoList=50">#SAP</a>
                                                                                        <a href="/ko/search/search_tag.php?type=&amp;tagNoList=45">#에이티앤에스그룹</a>
                                                                                </div>
                                </li>
                                                                <li>
                                    <div class="thumb">
                                        <a href="/bbs/board.php?bo_table=newsroom_ko&amp;wr_id=135"><img src="/ckeditor/uploads/%5B%EC%82%AC%EC%A7%84%EC%9E%90%EB%A3%8C%5D%20%EB%A9%94%ED%83%80%EB%84%B7%EA%B8%80%EB%A1%9C%EB%B2%8C%2C%20%EC%96%B4%ED%94%84%EB%A1%9C%ED%8B%B0%EC%9B%80%EC%97%90%20%EC%B0%A8%EC%84%B8%EB%8C%80%20ERP%20%EC%8B%9C%EC%8A%A4%ED%85%9C%20%EA%B5%AC%EC%B6%95%20%EC%99%84%EB%A3%8C_240109.jpg" alt="/"></a>
                                    </div>
                                    <div class="sbj">
                                        <a href="/bbs/board.php?bo_table=newsroom_ko&amp;wr_id=135">메타넷글로벌, 어프로티움에 차세대 ERP 시스템 구축 완료</a>
                                    </div>
                                    <div class="hashtag">
                                                                                    <a href="/ko/search/search_tag.php?type=&amp;tagNoList=50">#SAP</a>
                                                                                        <a href="/ko/search/search_tag.php?type=&amp;tagNoList=39">#메타넷글로벌</a>
                                                                                </div>
                                </li>
                                                                <li>
                                    <div class="thumb">
                                        <a href="/bbs/board.php?bo_table=newsroom_ko&amp;wr_id=134"><img src="/ckeditor/uploads/SOLME.jpg" alt="/"></a>
                                    </div>
                                    <div class="sbj">
                                        <a href="/bbs/board.php?bo_table=newsroom_ko&amp;wr_id=134">[2023 IT혁신상품] 메타넷디엘, 3세대 ECM 솔루션 '솔메 모던워크'</a>
                                    </div>
                                    <div class="hashtag">
                                                                                    <a href="/ko/search/search_tag.php?type=&amp;tagNoList=43">#메타넷디엘</a>
                                                                                        <a href="/ko/search/search_tag.php?type=&amp;tagNoList=22">#SOLME</a>
                                                                                </div>
                                </li>
                                                                <li>
                                    <div class="thumb">
                                        <a href="/bbs/board.php?bo_table=newsroom_ko&amp;wr_id=133"><img src="/ckeditor/uploads/%5B%EC%82%AC%EC%A7%84%EC%9E%90%EB%A3%8C%5D%20%EB%A9%94%ED%83%80%EB%84%B7%ED%8B%B0%ED%94%8C%EB%9E%AB%ED%8F%BC-%EC%A7%80%ED%8B%B0%ED%94%8C%EB%9F%AC%EC%8A%A4%2C%20%EA%B8%88%EC%9C%B5%EC%82%AC%20%EC%9C%84%ED%95%9C%20%EC%98%A4%EB%9D%BC%ED%81%B4%20%ED%81%B4%EB%9D%BC%EC%9A%B0%EB%93%9C%20%EA%B8%B0%EB%B0%98%20%EC%9E%AC%ED%95%B4%EB%B3%B5%EA%B5%AC%20%EB%8C%80%EC%9D%91%20%EB%B0%A9%EC%95%88%20%EC%A0%9C%EC%8B%9C.png" alt="/"></a>
                                    </div>
                                    <div class="sbj">
                                        <a href="/bbs/board.php?bo_table=newsroom_ko&amp;wr_id=133">메타넷티플랫폼-지티플러스, 금융사 위한 오라클 클라우드 기반 재해복구 대응 방안 제시</a>
                                    </div>
                                    <div class="hashtag">
                                                                                    <a href="/ko/search/search_tag.php?type=&amp;tagNoList=5">#DR</a>
                                                                                        <a href="/ko/search/search_tag.php?type=&amp;tagNoList=17">#MSP</a>
                                                                                        <a href="/ko/search/search_tag.php?type=&amp;tagNoList=53">#Oracle</a>
                                                                                        <a href="/ko/search/search_tag.php?type=&amp;tagNoList=41">#메타넷티플랫폼</a>
                                                                                        <a href="/ko/search/search_tag.php?type=&amp;tagNoList=31">#인프라</a>
                                                                                        <a href="/ko/search/search_tag.php?type=&amp;tagNoList=48">#지티플러스</a>
                                                                                        <a href="/ko/search/search_tag.php?type=&amp;tagNoList=34">#클라우드전략</a>
                                                                                </div>
                                </li>
                                                                <li>
                                    <div class="thumb">
                                        <a href="/bbs/board.php?bo_table=newsroom_ko&amp;wr_id=132"><img src="/ckeditor/uploads/%5B%EC%82%AC%EC%A7%84%EC%9E%90%EB%A3%8C%5D%20%EB%A9%94%ED%83%80%EB%84%B7%EB%94%94%EC%A7%80%ED%84%B8%2C%20%5C%27%ED%95%9C%EB%9D%BC%20%EB%A0%88%EC%9D%B4%EB%8D%94%5C%27%20%EC%84%B1%EA%B3%B5%EC%A0%81%20%EA%B5%AC%EC%B6%95%EC%9C%BC%EB%A1%9C%20%EA%B5%AD%ED%86%A0%EB%B6%80%EC%9E%A5%EA%B4%80%20%ED%91%9C%EC%B0%BD%20%EC%88%98%EC%83%81.JPG" alt="/"></a>
                                    </div>
                                    <div class="sbj">
                                        <a href="/bbs/board.php?bo_table=newsroom_ko&amp;wr_id=132">메타넷디지털, '한라 레이더' 성공적 구축으로 국토부 장관 표창 수상</a>
                                    </div>
                                    <div class="hashtag">
                                                                                    <a href="/ko/search/search_tag.php?type=&amp;tagNoList=40">#메타넷디지털</a>
                                                                                </div>
                                </li>
                                                        </ul>
                    </div>
				</div>
				<div class="career-bn">
					<strong>Careers</strong>
					<p>메타넷의 비전을 함께할 인재를 기다립니다.</p>
					<a href="https://fa-eozb-saasfaprod1.fa.ocs.oraclecloud.com/hcmUI/CandidateExperience/ko/sites/CX_5001" target="_blank">채용공고 바로가기</a>
				</div>
			</div>
		</div>
			<div class="footer-section"> 
		<span class="last_border"></span>
		  
		<div class="footerSitemap"> 
			<ul>    
				<li><p>Metanet Company</p>  
					<ul class="half">
						<li> 
							<a href="/ko/company/metanetglobal">메타넷글로벌</a>
						</li>  
						<li> 
							<a href="/ko/company/atnsgroup">에이티앤에스그룹</a>
						</li>   
						<li> 
							<a href="/ko/company/metanetdigital">메타넷디지털</a>
						</li>  
						<li> 
							<a href="/ko/company/metanettplatform">메타넷티플랫폼</a> 
						</li>  
						<li> 
							<a href="/ko/company/rockplace">락플레이스</a>
						</li>  
						<li> 
							<a href="/ko/company/gtplus">지티플러스</a>
						</li>  
						<li> 
							<a href="/ko/company/utimost">유티모스트INS</a> 
						</li>   
						<li> 
							<a href="/ko/company/metanetsaas">메타넷사스</a>
						</li>  
						<li> 
							<a href="/ko/company/metanetdl">메타넷디엘</a>
						</li>  
						<li> 
							<a href="/ko/company/metanetfintech">메타넷핀테크</a>
						</li> 
						<li> 
							<a href="/ko/company/igm">IGM 세계경영연구원</a>
						</li>  
						<li> 
							<a href="/ko/company/elics">엘릭스</a>
						</li>  
					</ul> 
				</li> 
				<li><p>Service</p>
					<ul class="depth-1">
						<li> 
							<a href="/ko/services/assess.php">Assess &amp; Design</a>
						</li> 
						<li> 
							<a href="/ko/services/application.php">Application &amp; Modernization</a>
						</li>  
						<li> 
							<a href="/ko/services/migration.php">Migration &amp; Transform</a>
						</li>  
						<li> 
							<a href="/ko/services/source.php">Source &amp; Configure</a>
						</li>  
						<li> 
							<a href="/ko/services/infra.php">Infra as a Services</a>
						</li> 
						<li> 
							<a href="/ko/services/manage.php">Manage &amp; Optimize</a>
						</li>  
						<li> 
							<a href="/ko/services/cloud.php">Cloud Brokerage</a>
						</li> 
					</ul>
				</li>
				<li><p>Product &amp; Platform</p>
					<ul class="depth-2">
						<li>
							<a href="/ko/platform/metapay.php">MetaPay<small>급여솔루션</small></a> 
						</li> 
						<li>
							<a href="/ko/platform/erp.php">MetaERP4U<small>대학종합행정솔루션</small></a> 
						</li> 
						<li>
							<a href="/ko/platform/solme.php">SOLME<small>문서중앙화솔루션</small></a> 
						</li> 
						<li>
							<a href="/ko/platform/risk.php">RiskCraft<small>금융리스크관리솔루션</small></a> 
						</li> 
						<li>
							<a href="/ko/platform/desk.php">MetaDesk<small>서비스데스크솔루션</small></a> 
						</li> 
						<li>
							<a href="/ko/platform/cicd.php">MetaCI/CD<small>데브옵스 서비스 솔루션</small></a> 
						</li>  
						<li>
							<a href="/ko/platform/marine.php">MetaMarine<small>조선해양ERP솔루션</small></a> 
						</li>   
						<li>
							<a href="/ko/platform/gems.php">MetaGEMS<small>에너지관리솔루션</small></a> 
						</li> 
					</ul> 
				</li>   
				<li>
					<p>Blog</p> 
					<ul class="depth-3">
						<li>
							<a href="/bbs/board.php?bo_table=newsroom_ko">Newsroom</a> 
						</li> 
						<li>
							<a href="/bbs/board.php?bo_table=tech">Tech</a> 
						</li> 
						<li>
							<a href="/bbs/board.php?bo_table=client">Client</a> 
						</li> 
						<li>
							<a href="/bbs/board.php?bo_table=people">People</a> 
						</li> 
					</ul>
				</li>  
				<li>
					<p><a href="https://fa-eozb-saasfaprod1.fa.ocs.oraclecloud.com/hcmUI/CandidateExperience/ko/sites/CX_5001" target="_blank">Careers</a></p> 
				</li>  
				<li><p>About us</p> 
					<ul class="depth-3">
						<li> 
							<a href="/ko/about/who.php">Who we are</a>  
						</li>    
						<li>
							<a href="/ko/about/leadership.php">Leadership</a> 
						</li>
						<li>
							<a href="/ko/about/partners.php">Strategic Partners</a> 
						</li> 
						<li>
							<a href="/ko/about/locations.php">Contact Us</a>  
						</li> 
					</ul> 
				</li> 
			</ul><!--nav-->  
		</div><!-- sitemap -->  
		<div class="footerCopyWrap">
			<strong>metanet</strong>
			<div class="ftSns">
				<ul>
					<li><a href="https://blog.naver.com/metanetcompany" title="새창으로 열림" target="_blank"><i class="xi-naver"></i></a></li>
					<li><a href="https://www.linkedin.com/company/13418975/" title="새창으로 열림" target="_blank"><i class="xi-linkedin"></i></a></li>
					<li><a href="https://www.facebook.com/Metanetinc" title="새창으로 열림" target="_blank"><i class="xi-facebook"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCIr0oyA4UE7yF369Adcq5IA" title="새창으로 열림" target="_blank"><i class="xi-youtube-play"></i></a></li>
				</ul>
			</div>   
			<div class="wrap_address">
				<address>
					<span>서울 종로구 종로 33길 15 (연지동, 연강빌딩)</span><br> 
					<span><a href="/ko/pre_policy.html" onclick="windowOpen(this,660,800); return false;" target="_blank" class="btn_policy" title="새창으로 열림">개인정보처리방침</a></span>
					<span class="bar"><a href="/ko/pre_email.html" onclick="windowOpen(this,640,300); return false;" target="_blank" class="btn_policy" title="새창으로 열림">이메일무단수집거부</a></span>
				</address>
				<p class="copy">COPYRIGHT ©2022 Metanet ALL RIGHTS RESERVED.</p> 
			</div>  
		</div>
	</div> 
</div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 10px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 257.96px;"></div><div class="slimScrollRail" style="width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div></div></div></div> 

<div class="quickMenu white"> 
	<div class="quickQa">
		<a href="/bbs/qna_write.php?bo_table=qna_ko">
			문의
		</a>
	</div>
	<div class="quickTop">
		<a href="#">
			<i class="xi-long-arrow-up"></i>
		</a>
	</div>
</div>     
<script>
$(document).ready(function() {
    $(window).scroll(function() {
        if ($(this).scrollTop() > 200) {
            $('.quickMenu').addClass('on');
        } else {
            $('.quickMenu').removeClass('on');
        }
    });

    $('.quickTop').click(function() {
        $('html, body').animate({
            scrollTop: 0
        }, 800);  
        return false;
    });
}); 
</script> 
 

<script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-87313972-1', 'auto');
ga('send', 'pageview');

</script>


<div>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script type="text/javascript"> 
		$(document).ready(function(){ 
			 $(".popup").draggable(); 
			 // $(".popup").hide(); 
		}); 
</script> 

<!-- Popup 
 <article class="popup basic" id="popup_20191230_1" style="top: 110px; left: 60px;width:500px;">
	<div class="head">
		<a href="javascript:;" class="close" style="z-index:100;">Close</a>
	</div>
	<div class="popup-img" style="height:550px !important; position:relative;">
		<img src="/img/img_20191230_1.jpg" alt="주식회사 합병에 따른 채권자이의 제출 공고">
	</div>
	<div class="tail">
		<a href="javascript:;" class="cookie">오늘 하루동안 이 창을 열지 않음</a>
	</div>
</article>
<!-- // Popup 
<!-- Popup
 <article class="popup basic" id="popup_20191230_2" style="top: 110px; left: 620px;width:500px;">
	<div class="head">
		<a href="javascript:;" class="close">Close</a>
	</div>
	<div class="popup-img" style="height:550px !important;">
		<img src="/img/img_20200103_2.jpg" alt="주식회사 합병에 따른 주권 제출 공고">
	</div>
	<div class="tail">
		<a href="javascript:;" class="cookie">오늘 하루동안 이 창을 열지 않음</a>
	</div>
</article>
<!-- // Popup --> <!-- div-->
 




	</div>
</div></div></div></body></html>